In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import math
import statsmodels
from pandas_datareader import data
import datetime
import quandl

In [6]:
start= datetime.datetime(2015, 3, 27)  # The start of the year for example
end= datetime.datetime(2019, 7, 30)

In [10]:
quandl.get("CHRIS/ASX_AP2")

            Previous Settlement
Date
2013-10-09               5103.0
2013-10-10               5097.0
2013-10-11               5097.0
2013-10-12               5193.0
2013-10-13               5193.0
2013-10-14               5171.0
2013-10-15               5215.0
2013-10-16               5215.0
2013-10-17               5240.0
2013-10-18               5287.0
2013-10-19               5287.0
2013-10-20               5287.0
2013-10-21               5302.0
2013-10-23               5321.0
2013-10-25               5335.0
2013-10-26               5351.0
2013-10-27               5351.0
2013-10-28               5397.0
2013-10-29               5375.0
2013-10-30               5386.0
2013-10-31               5384.0
2013-11-01               5359.0
2013-11-02               5359.0
2013-11-05               5349.0
2013-11-07               5386.0
2013-11-08               5378.0
2013-11-09               5378.0
2013-11-10               5378.0
2013-11-11               5371.0
2013-11-12               5380.0
...                         ...
2019-05-02               6252.0
2019-05-03               6250.0
2019-05-04               6250.0
2019-05-06               6181.0
2019-05-07               6212.0
2019-05-08               6170.0
2019-05-09               6204.0
2019-05-10               6227.0
2019-05-11               6227.0
2019-05-13               6229.0
2019-05-14               6158.0
2019-05-15               6219.0
2019-05-16               6277.0
2019-05-17               6294.0
2019-05-18               6294.0
2019-05-20               6416.0
2019-05-21               6424.0
2019-05-22               6443.0
2019-05-23               6421.0
2019-05-24               6392.0
2019-05-25               6392.0
2019-05-27               6391.0
2019-05-28               6412.0
2019-05-29               6358.0
2019-05-30               6320.0
2019-05-31               6329.0
2019-06-01               6329.0
2019-06-03               6240.0
2019-06-04               6263.0
2019-06-05               6263.0

[1783 rows x 1 columns]

In [ ]:
ticker_1 = "MDT"
ticker_2 = "BSX"